/*1359357208,178142509*/

.sp_2ees0m{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/x/m47CrZ2aieS.png);background-size:25px 130px;background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_3742ff{width:16px;background-position:0 -36px}
.sx_487edc{width:16px;background-position:0 -53px}
.sx_464f51{width:11px;height:11px;background-position:0 -118px}
.sx_a9e146{width:12px;height:10px;background-position:-12px 0}
.selected .sx_a9e146{background-position:0 0}
.sx_5d9dad{width:11px;height:12px;background-position:-11px -11px}
.selected .sx_5d9dad{background-position:0 -11px}
.sx_5bd689{background-position:0 -70px}
.sx_8c4cb1{background-position:0 -87px}
.sx_419dc5{width:13px;height:13px;background-position:0 -104px}
.sx_d85f97{width:20px;height:11px;background-position:0 -24px}

#bootloader_9aOmz { height: 42px; }