/*1359745869,173217823*/

.sp_585q43{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y8/x/a90P0oK5ag1.png);background-size:18px 89px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d2e4e3{width:17px;height:17px;background-position:0 0}
.sx_7f2669{width:9px;height:6px;background-position:0 -76px}
.sx_2788e6{width:4px;height:7px;background-position:-12px -66px}
.sx_e2f855{background-position:0 -18px}
.sx_873e18{width:9px;height:5px;background-position:0 -83px}
.sx_edf734{background-position:0 -35px}
.sx_0a9f49{width:15px;height:13px;background-position:0 -52px}
.sx_06779c{width:11px;height:9px;background-position:0 -66px}

#bootloader_wpwmS { height: 42px; }