/*1359573643,178142509*/

.sp_60ng8d{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yY/x/ufUOQNE-AGm.png);background-size:852px 566px;background-repeat:no-repeat;display:inline-block;height:14px;width:16px}
.sx_22ec16{height:16px;background-position:-490px -100px}
.sx_2069da{width:14px;background-position:-342px -51px}
.sx_95e096{width:14px;background-position:-316px -51px}
.sx_80efe7{width:14px;background-position:-290px -51px}
.sx_74d10c{width:15px;height:64px;background-position:-268px -20px}
.sx_25e47d{height:16px;background-position:-507px -100px}
.sx_21104e{width:26px;height:24px;background-position:-392px -20px}
.sx_09caab{width:26px;height:24px;background-position:-365px -20px}
.sx_de8fca{width:26px;height:24px;background-position:-338px -20px}
.sx_b4dea6{width:26px;height:24px;background-position:-284px -20px}
.sx_904444{width:26px;height:24px;background-position:-311px -20px}
.sx_d9ecd6{width:20px;height:20px;background-position:-268px -120px}
.sx_5053ce{width:10px;height:12px;background-position:-551px -20px}
.sx_147b69{width:20px;height:24px;background-position:0 -302px}
.sx_2ddc14{width:20px;height:24px;background-position:0 -334px}
.sx_b7e72c{width:14px;height:13px;background-position:-303px -71px}
.sx_856b79{width:8px;height:12px;background-position:-562px -20px}
.sx_c8f277{width:11px;background-position:-841px -5px}
.sx_21ec3a{width:22px;height:25px;background-position:-408px -45px}
.sx_f6b454{width:22px;height:25px;background-position:-431px -45px}
.sx_0dac8e{width:12px;height:12px;background-position:-840px -474px}
.sx_986685{width:21px;height:25px;background-position:-523px -45px}
.sx_e5b884{width:21px;height:25px;background-position:-545px -45px}
.sx_a86f13{width:22px;height:25px;background-position:-500px -45px}
.sx_193636{width:22px;height:25px;background-position:-454px -45px}
.sx_7f48a5{width:12px;height:12px;background-position:-840px -374px}
.sx_abdb92{width:8px;height:12px;background-position:0 -128px}
.sx_775042{width:8px;height:12px;background-position:0 -184px}
.sx_aa0b45{width:7px;background-position:0 -272px}
.sx_0125b4{width:8px;height:12px;background-position:0 -156px}
.sx_343012{width:12px;height:12px;background-position:-840px -28px}
.sx_9a3dea{width:8px;height:12px;background-position:0 -28px}
.sx_e20e4a{width:17px;height:16px;background-position:-268px -100px}
.sx_088308{width:7px;background-position:0 -212px}
.sx_5e93a4{width:7px;background-position:0 -242px}
.sx_69f922{width:22px;height:25px;background-position:-362px -45px}
.sx_41912e{width:22px;height:25px;background-position:-477px -45px}
.sx_819fc2{width:22px;height:25px;background-position:-385px -45px}
.sx_5fab14{width:13px;height:12px;background-position:-432px -20px}
.selected .sx_5fab14{background-position:-419px -20px}
.sx_c292c0{width:13px;height:12px;background-position:-458px -20px}
.selected .sx_c292c0{background-position:-445px -20px}
.sx_269b15{width:13px;height:12px;background-position:-484px -20px}
.selected .sx_269b15{background-position:-471px -20px}
.sx_a24e8e{width:13px;height:12px;background-position:-42px -5px}
.selected .sx_a24e8e{background-position:-29px -5px}
.sx_4a1182{width:11px;background-position:-279px -85px}
.selected .sx_4a1182{background-position:-268px -85px}
.sx_be695b{width:14px;background-position:-14px -5px}
.selected .sx_be695b{background-position:0 -5px}
.sx_e14c53{width:12px;background-position:-629px -45px}
.selected .sx_e14c53{background-position:-617px -45px}
.sx_ef2aa5{width:9px;background-position:-424px -85px}
.selected .sx_ef2aa5{background-position:-415px -85px}
.sx_349ca4{width:9px;background-position:-443px -85px}
.selected .sx_349ca4{background-position:-434px -85px}
.sx_41c8ad{width:5px;background-position:-599px -85px}
.selected .sx_41c8ad{background-position:-594px -85px}
.sx_34cc5d{width:10px;background-position:-366px -85px}
.selected .sx_34cc5d{background-position:-356px -85px}
.sx_1777f7{width:12px;background-position:-604px -45px}
.selected .sx_1777f7{background-position:-592px -45px}
.sx_e50ee1{width:9px;background-position:-462px -85px}
.selected .sx_e50ee1{background-position:-453px -85px}
.sx_681da2{width:10px;background-position:-324px -85px}
.selected .sx_681da2{background-position:-314px -85px}
.sx_890d3f{width:8px;background-position:-480px -85px}
.selected .sx_890d3f{background-position:-472px -85px}
.sx_c1c540{width:10px;background-position:-345px -85px}
.selected .sx_c1c540{background-position:-335px -85px}
.sx_5e9aa5{width:11px;background-position:-302px -85px}
.selected .sx_5e9aa5{background-position:-291px -85px}
.sx_e4f777{width:5px;background-position:-588px -85px}
.selected .sx_e4f777{background-position:-583px -85px}
.sx_7878c5{width:8px;background-position:-497px -85px}
.selected .sx_7878c5{background-position:-489px -85px}
.sx_b87451{width:12px;background-position:-679px -45px}
.selected .sx_b87451{background-position:-667px -45px}
.sx_483390{width:9px;height:13px;background-position:-293px -71px}
.selected .sx_483390{background-position:-284px -71px}
.sx_f81227{width:12px;background-position:-654px -45px}
.selected .sx_f81227{background-position:-642px -45px}
.sx_628782{width:9px;background-position:-405px -85px}
.selected .sx_628782{background-position:-396px -85px}
.sx_5d1283{width:9px;background-position:-386px -85px}
.selected .sx_5d1283{background-position:-377px -85px}
.sx_98c198{width:9px;height:12px;background-position:-529px -20px}
.selected .sx_98c198{background-position:-520px -20px}
.sx_426fa3{width:10px;background-position:-748px -45px}
.selected .sx_426fa3{background-position:-738px -45px}
.sx_64532b{width:8px;background-position:-514px -85px}
.selected .sx_64532b{background-position:-506px -85px}
.sx_f7a204{width:8px;background-position:-548px -85px}
.selected .sx_f7a204{background-position:-540px -85px}
.sx_7a1a52{width:11px;height:12px;background-position:-508px -20px}
.selected .sx_7a1a52{background-position:-497px -20px}
.sx_8c9f66{width:11px;background-position:-726px -45px}
.selected .sx_8c9f66{background-position:-715px -45px}
.sx_6acfb2{width:11px;background-position:-703px -45px}
.selected .sx_6acfb2{background-position:-692px -45px}
.sx_a19d84{width:11px;height:12px;background-position:-539px -20px}
.sx_963082{width:8px;background-position:-531px -85px}
.selected .sx_963082{background-position:-523px -85px}
.sx_f758f6{width:13px;height:10px;background-position:-69px -5px}
.selected .sx_f758f6{background-position:-56px -5px}
.sx_496b5f{height:16px;background-position:-524px -100px}
.sx_98965b{width:10px;height:15px;background-position:-557px -85px}
.sx_5599be{width:15px;height:16px;background-position:-541px -100px}
.sx_146777{height:16px;background-position:-371px -100px}
.sx_0b64fb{height:16px;background-position:-473px -100px}
.sx_b6642e{height:16px;background-position:-439px -100px}
.sx_04d00c{height:16px;background-position:-422px -100px}
.sx_376d08{height:16px;background-position:-354px -100px}
.sx_c1d680{width:14px;background-position:-568px -85px}
.sx_3265a7{width:24px;height:24px;background-position:-567px -45px}
.sx_72b173{width:8px;height:10px;background-position:-580px -20px}
.sx_ded1bc{width:8px;height:10px;background-position:-571px -20px}
.sx_06efd9{width:8px;height:13px;background-position:-318px -71px}
.sx_dd8e71{width:8px;height:13px;background-position:-327px -71px}
.sx_b33c2e{width:15px;height:17px;background-position:-289px -120px}
.sx_294219{height:16px;background-position:-405px -100px}
.sx_ceef41{height:16px;background-position:-286px -100px}
.sx_21eebf{height:16px;background-position:-303px -100px}
.sx_1e6b84{height:16px;background-position:-388px -100px}
.sx_0ea0b2{height:16px;background-position:-337px -100px}
.sx_69c65d{height:16px;background-position:-320px -100px}
.sx_700643{height:16px;background-position:-456px -100px}
.sx_f0533c{width:851px;height:4px;background-position:0 0}
.sx_8920de{width:10px;height:9px;background-position:-94px -5px}
.sx_92bbd9{width:10px;height:9px;background-position:-105px -5px}
.sx_80b7ce{width:10px;height:9px;background-position:-83px -5px}

#bootloader_IZgt_ { height: 42px; }