/*1361342755,173213725*/

.sp_7vufzx{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/x/Xu-_qWThyC_.png);background-size:852px 165px;background-repeat:no-repeat;display:inline-block;height:16px;width:24px}
.sx_ef077e{width:16px;background-position:-557px -14px}
.selected .sx_ef077e{background-position:-541px -14px}
.sx_eb8d77{width:16px;background-position:-101px -120px}
.sx_f35b08{width:7px;height:7px;background-position:-224px -31px}
.sx_cea728{width:9px;background-position:-220px -120px}
.sx_3b3a22{width:9px;background-position:-230px -120px}
.sx_f6f99f{width:11px;height:14px;background-position:-157px -94px}
.sx_eba59d{width:12px;height:10px;background-position:-172px -31px}
.sx_0506b0{width:12px;height:10px;background-position:-185px -31px}
.sx_3a54c4{width:10px;height:10px;background-position:-793px -67px}
.sx_5b9b82{width:9px;height:11px;background-position:-106px -81px}
.sx_4ee0d5{width:11px;height:11px;background-position:-82px -81px}
.sx_bff13a{width:11px;height:11px;background-position:-94px -81px}
.sx_84991b{width:18px;height:18px;background-position:-82px -120px}
.sx_74cc45{width:18px;height:18px;background-position:-63px -120px}
.sx_0bc8c1{width:13px;height:8px;background-position:-609px -14px}
.sx_36c5c8{width:17px;background-position:-152px -14px}
.selected .sx_36c5c8{background-position:-135px -14px}
.sx_f9f573{width:17px;background-position:-187px -14px}
.selected .sx_f9f573{background-position:-170px -14px}
.sx_3c84f8{width:16px;background-position:-118px -120px}
.sx_1e107d{width:17px;background-position:-222px -14px}
.selected .sx_1e107d{background-position:-205px -14px}
.sx_3b99d9{width:17px;background-position:-257px -14px}
.selected .sx_3b99d9{background-position:-240px -14px}
.sx_87396a{width:17px;background-position:-292px -14px}
.selected .sx_87396a{background-position:-275px -14px}
.sx_e13bf4{width:16px;background-position:-524px -14px}
.selected .sx_e13bf4{background-position:-508px -14px}
.sx_a52fbe{width:16px;background-position:-491px -14px}
.selected .sx_a52fbe{background-position:-475px -14px}
.sx_77c23f{width:16px;background-position:-458px -14px}
.selected .sx_77c23f{background-position:-442px -14px}
.sx_f67367{width:16px;background-position:-425px -14px}
.selected .sx_f67367{background-position:-409px -14px}
.sx_e730f0{width:16px;background-position:-392px -14px}
.selected .sx_e730f0{background-position:-376px -14px}
.sx_4aca9f{width:16px;background-position:-359px -14px}
.selected .sx_4aca9f{background-position:-343px -14px}
.sx_9f39be{width:16px;background-position:-135px -120px}
.sx_9a5048{width:16px;background-position:-326px -14px}
.selected .sx_9a5048{background-position:-310px -14px}
.sx_95d2a2{width:16px;background-position:-152px -120px}
.sx_5b9193{width:16px;background-position:-169px -120px}
.sx_11c191{width:16px;background-position:-186px -120px}
.sx_926645{width:25px;height:25px;background-position:-63px -94px}
.sx_e544a8{width:17px;height:12px;background-position:-154px -31px}
.sx_c83787{width:16px;background-position:-203px -120px}
.sx_a8bf16{width:32px;height:32px;background-position:-423px -46px}
.sx_5f77ec{width:32px;height:32px;background-position:-390px -46px}
.sx_63459e{width:32px;height:32px;background-position:-357px -46px}
.sx_411e57{width:32px;height:32px;background-position:-456px -46px}
.sx_1a29c5{width:16px;background-position:-47px -115px}
.sx_bb85e1{width:16px;background-position:-31px -115px}
.sx_9474b4{height:31px;background-position:-720px -46px}
.sx_1d30ff{height:31px;background-position:-645px -46px}
.sx_e61397{height:31px;background-position:-695px -46px}
.sx_fda8db{height:31px;background-position:-670px -46px}
.sx_1c2c83{height:31px;background-position:-307px -48px}
.sx_cc0fec{height:31px;background-position:-282px -48px}
.sx_79a30d{height:31px;background-position:-132px -48px}
.sx_7450e4{height:31px;background-position:-107px -48px}
.sx_89470d{height:31px;background-position:-620px -46px}
.sx_46e0a1{height:31px;background-position:-595px -46px}
.sx_7e197b{height:31px;background-position:-570px -46px}
.sx_8247e3{height:31px;background-position:-82px -48px}
.sx_03ccd3{height:31px;background-position:-207px -48px}
.sx_5bb3cb{height:31px;background-position:-157px -48px}
.sx_5f3f9d{height:31px;background-position:-182px -48px}
.sx_26921f{height:31px;background-position:-332px -48px}
.sx_e6e2e7{height:31px;background-position:-232px -48px}
.sx_d222aa{height:31px;background-position:-257px -48px}
.sx_585950{width:9px;height:12px;background-position:-144px -31px}
.selected .sx_585950{background-position:-135px -31px}
.sx_82b9f2{width:30px;height:150px;background-position:0 -14px}
.sx_91916e{width:20px;height:11px;background-position:-574px -14px}
.sx_366e12{width:25px;height:31px;background-position:-490px -46px}
.sx_e8911d{width:25px;height:31px;background-position:-517px -46px}
.sx_6dd279{width:25px;height:31px;background-position:-544px -46px}
.sx_c47c66{width:103px;height:31px;background-position:-31px -14px}
.sx_b08cd9{width:11px;height:6px;background-position:-635px -14px}
.sx_fda999{width:11px;height:6px;background-position:-623px -14px}
.sx_28cb58{width:9px;height:6px;background-position:-647px -14px}
.sx_8bbec4{width:9px;height:6px;background-position:-657px -14px}
.sx_b2ea9a{width:10px;height:10px;background-position:-776px -57px}
.sx_bb4907{width:10px;height:12px;background-position:-752px -56px}
.sx_c02670{width:12px;height:9px;background-position:-198px -31px}
.sx_6793c0{width:12px;height:9px;background-position:-211px -31px}
.sx_19d748{width:15px;height:12px;background-position:-804px -54px}
.sx_a67631{width:15px;height:12px;background-position:-42px -102px}
.sx_c27818{width:19px;height:15px;background-position:-825px -46px}
.sx_a19d48{width:19px;height:15px;background-position:-121px -94px}
.sx_ca42a6{width:15px;height:21px;background-position:-89px -94px}
.sx_651743{width:15px;height:21px;background-position:-105px -94px}
.sx_f2de1a{width:411px;height:4px;background-position:0 -9px}
.sx_ce85db{width:851px;height:4px;background-position:0 0}
.sx_d9434c{width:411px;height:3px;background-position:-412px -9px}
.sx_9687b8{width:851px;height:3px;background-position:0 -5px}
.sx_3fa695{width:50px;height:47px;background-position:-31px -46px}
.sx_1c30c2{width:13px;height:8px;background-position:-595px -14px}
.sx_5c280b{width:15px;height:15px;background-position:-141px -94px}

#bootloader_eqSSV { height: 42px; }