/*1359837936,173217057*/

.sp_4b10yi{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y0/x/FI5orUDgxmt.png);background-size:100px 1062px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_510452{width:13px;height:14px;background-position:-37px -198px}
.selected .sx_510452{background-position:-24px -198px}
.sx_451c2e{width:12px;height:14px;background-position:-63px -198px}
.selected .sx_451c2e{background-position:-51px -198px}
.sx_0e0eaa{width:14px;height:12px;background-position:-86px -208px}
.sx_75f4cb{width:14px;height:12px;background-position:-86px -241px}
.sx_fdba20{background-position:-68px -722px}
.sx_440811{background-position:0 -739px}
.sx_c5b657{background-position:-17px -739px}
.sx_01e3af{background-position:-34px -739px}
.sx_88494b{background-position:-51px -739px}
.sx_392a97{background-position:-68px -739px}
.sx_748793{background-position:0 -756px}
.sx_0ed25e{background-position:-17px -756px}
.sx_17d153{background-position:-34px -756px}
.sx_f511a5{background-position:-51px -756px}
.sx_d540f9{background-position:-68px -756px}
.sx_c985ca{background-position:0 -773px}
.sx_db1763{background-position:-17px -773px}
.sx_70659d{background-position:-34px -773px}
.sx_20f632{background-position:-51px -773px}
.sx_7ec7da{background-position:0 -841px}
.sx_ad9559{background-position:0 -790px}
.sx_147309{background-position:-17px -790px}
.sx_b0c435{background-position:-34px -790px}
.sx_1b6e27{background-position:-51px -790px}
.sx_f3adb6{background-position:-68px -790px}
.sx_af476a{background-position:0 -807px}
.sx_0a9097{background-position:-17px -807px}
.sx_be91ed{background-position:-34px -807px}
.sx_5389bc{background-position:-51px -807px}
.sx_a07227{background-position:-68px -807px}
.sx_1c5283{background-position:0 -824px}
.sx_0968d2{background-position:-17px -824px}
.sx_f0e256{background-position:-34px -824px}
.sx_bc9679{background-position:-51px -824px}
.sx_61c739{background-position:-68px -824px}
.sx_8cbbe5{background-position:-68px -773px}
.sx_d421f0{background-position:-34px -620px}
.sx_65bcdc{background-position:-51px -620px}
.sx_657877{background-position:-68px -620px}
.sx_c6d6c2{background-position:0 -637px}
.sx_dd57d4{background-position:-17px -637px}
.sx_bd0faf{background-position:-34px -637px}
.sx_f49e6d{background-position:-51px -637px}
.sx_60cac9{background-position:-68px -637px}
.sx_1154d6{background-position:0 -654px}
.sx_a6820a{background-position:-17px -654px}
.sx_1a8660{background-position:-34px -654px}
.sx_012b34{background-position:-51px -654px}
.sx_de74b2{background-position:-68px -654px}
.sx_060959{background-position:0 -671px}
.sx_8ea051{background-position:-17px -671px}
.sx_bff7ef{background-position:-51px -722px}
.sx_0442cd{background-position:-51px -671px}
.sx_985a07{background-position:-68px -671px}
.sx_6f39f8{background-position:0 -688px}
.sx_9cf3a2{background-position:-17px -688px}
.sx_097550{background-position:-17px -875px}
.sx_024146{background-position:-51px -688px}
.sx_9d4662{background-position:-68px -688px}
.sx_af4413{background-position:0 -705px}
.sx_760d6c{background-position:-17px -705px}
.sx_7614a0{background-position:-34px -705px}
.sx_3517ee{background-position:-51px -705px}
.sx_fa9c8d{background-position:-68px -705px}
.sx_6c7d0b{background-position:0 -722px}
.sx_c02f96{background-position:-17px -722px}
.sx_639168{background-position:-34px -722px}
.sx_fd8544{background-position:-34px -671px}
.sx_a8d4a2{background-position:-51px -943px}
.sx_2f4636{background-position:-68px -943px}
.sx_d62607{background-position:0 -960px}
.sx_edcd15{background-position:-17px -960px}
.sx_92934c{background-position:-34px -960px}
.sx_a396de{background-position:-51px -960px}
.sx_ba4d2f{background-position:-68px -960px}
.sx_419ad8{background-position:0 -977px}
.sx_7d96ae{background-position:0 -1011px}
.sx_5695da{background-position:-34px -977px}
.sx_c72157{background-position:-51px -977px}
.sx_266042{background-position:-68px -977px}
.sx_0ff14c{background-position:0 -994px}
.sx_30ec23{background-position:-17px -994px}
.sx_68e378{background-position:-34px -994px}
.sx_98d044{background-position:-51px -994px}
.sx_705064{background-position:0 -1045px}
.sx_a90543{background-position:-17px -1045px}
.sx_08b6bf{background-position:-51px -1045px}
.sx_a4521e{background-position:-34px -1045px}
.sx_ac3379{background-position:-51px -1028px}
.sx_91248e{background-position:-34px -1028px}
.sx_199eb6{background-position:-17px -1028px}
.sx_0f92f9{background-position:0 -1028px}
.sx_20e386{background-position:-68px -1011px}
.sx_566e4f{background-position:-51px -1011px}
.sx_83cee6{background-position:-34px -1011px}
.sx_a32e5e{background-position:-17px -1011px}
.sx_cacb2b{background-position:-68px -1028px}
.sx_94e158{background-position:-68px -994px}
.sx_1fd27c{background-position:-17px -892px}
.sx_261a84{background-position:-17px -841px}
.sx_e5cd11{background-position:-34px -841px}
.sx_5e033d{background-position:-51px -841px}
.sx_be2dde{background-position:-68px -841px}
.sx_f18559{background-position:0 -858px}
.sx_cd229e{background-position:-17px -858px}
.sx_bb6396{background-position:-34px -858px}
.sx_5f3fb5{background-position:-51px -858px}
.sx_6e46da{background-position:-68px -858px}
.sx_2f13be{background-position:0 -875px}
.sx_7949ed{background-position:-17px -977px}
.sx_5e8538{background-position:-34px -875px}
.sx_8fa785{background-position:-51px -875px}
.sx_6cdfe0{background-position:-68px -875px}
.sx_28d05a{background-position:0 -892px}
.sx_423bc0{background-position:-34px -943px}
.sx_b24223{background-position:-34px -892px}
.sx_958e66{background-position:-51px -892px}
.sx_e7422e{background-position:-68px -892px}
.sx_3610d6{background-position:0 -909px}
.sx_2e81dd{background-position:-17px -909px}
.sx_5915d5{background-position:-34px -909px}
.sx_03469b{background-position:-51px -909px}
.sx_342159{background-position:-68px -909px}
.sx_2aafd5{background-position:0 -926px}
.sx_bda161{background-position:-17px -926px}
.sx_4b831d{background-position:-34px -926px}
.sx_608b2f{background-position:-51px -926px}
.sx_fcdfbb{background-position:-68px -926px}
.sx_e2a610{background-position:0 -943px}
.sx_44d09d{background-position:-17px -943px}
.sx_8dcf7d{background-position:-68px -467px}
.sx_084243{background-position:-51px -331px}
.sx_5bdaba{background-position:-68px -331px}
.sx_2c1f9d{background-position:0 -348px}
.sx_a6256c{background-position:-17px -348px}
.sx_b08198{background-position:-34px -348px}
.sx_e6dcb7{background-position:-51px -348px}
.sx_3d213c{background-position:-68px -348px}
.sx_28b7ef{background-position:0 -365px}
.sx_3f1347{background-position:-34px -688px}
.sx_9f9f6b{background-position:-17px -365px}
.sx_13962d{background-position:-34px -365px}
.sx_e3b51a{background-position:-51px -365px}
.sx_424825{background-position:-68px -365px}
.sx_785d11{background-position:0 -382px}
.sx_187363{background-position:0 -433px}
.sx_9e44fd{background-position:-34px -382px}
.sx_0c4051{background-position:-51px -382px}
.sx_eed30d{background-position:-68px -382px}
.sx_db58a4{background-position:0 -399px}
.sx_6c4c87{background-position:-17px -399px}
.sx_42bb79{background-position:-34px -399px}
.sx_c682b0{background-position:-51px -399px}
.sx_34b321{background-position:-68px -399px}
.sx_ed552b{background-position:0 -416px}
.sx_2029ca{background-position:-17px -416px}
.sx_fa67ba{background-position:-34px -416px}
.sx_54a888{background-position:-51px -416px}
.sx_93bd6b{background-position:-68px -416px}
.sx_95bc23{background-position:-34px -314px}
.sx_7fee8b{background-position:-34px -280px}
.sx_9a7449{background-position:-17px -280px}
.sx_44a22b{background-position:0 -280px}
.sx_a0b4d0{background-position:-68px -263px}
.sx_7d4f5a{background-position:-51px -263px}
.sx_6c187b{background-position:-51px -280px}
.sx_da4ab5{background-position:-17px -263px}
.sx_7739db{background-position:0 -263px}
.sx_5c5e3f{background-position:-51px -244px}
.sx_e74d3d{background-position:-34px -244px}
.sx_8ed012{background-position:-17px -244px}
.sx_eb3165{background-position:0 -244px}
.sx_0f0bd6{background-position:-34px -263px}
.sx_de9498{background-position:-68px -280px}
.sx_232107{background-position:-34px -331px}
.sx_6a9b22{background-position:0 -297px}
.sx_2561b9{background-position:-17px -297px}
.sx_3f787f{background-position:-34px -297px}
.sx_32811f{background-position:-51px -297px}
.sx_41a43b{background-position:-68px -297px}
.sx_392455{background-position:0 -314px}
.sx_5dd299{background-position:-17px -314px}
.sx_502d37{background-position:-51px -314px}
.sx_e6c22f{background-position:-68px -314px}
.sx_31b12b{background-position:0 -331px}
.sx_7a30da{background-position:-17px -331px}
.sx_cf71ad{background-position:-17px -382px}
.sx_31cef9{background-position:-68px -518px}
.sx_53d7f2{background-position:0 -535px}
.sx_1a879c{background-position:-17px -535px}
.sx_3e8bcf{background-position:-34px -535px}
.sx_3ea082{background-position:-51px -535px}
.sx_7a2ea7{background-position:-68px -535px}
.sx_cb12c8{background-position:0 -552px}
.sx_fe6075{background-position:-17px -552px}
.sx_c2a28b{background-position:-34px -552px}
.sx_cf3cd4{background-position:-51px -552px}
.sx_67f8f4{background-position:-68px -552px}
.sx_fb7b71{background-position:0 -569px}
.sx_ac96b7{background-position:-17px -569px}
.sx_c951fd{background-position:-17px -620px}
.sx_cc74e3{background-position:-51px -569px}
.sx_3db5d7{background-position:-68px -569px}
.sx_c2122e{background-position:0 -586px}
.sx_943ab2{background-position:-17px -586px}
.sx_d12ddd{background-position:-34px -586px}
.sx_0b7d1c{background-position:-51px -586px}
.sx_df4fee{background-position:-68px -586px}
.sx_5359de{background-position:0 -603px}
.sx_d4895c{background-position:-17px -603px}
.sx_e86690{background-position:-34px -603px}
.sx_006a20{background-position:-51px -603px}
.sx_407448{background-position:-68px -603px}
.sx_e9e45c{background-position:0 -620px}
.sx_4d8802{background-position:-34px -569px}
.sx_c33d10{background-position:-17px -433px}
.sx_0e35fc{background-position:-34px -433px}
.sx_51498e{background-position:-51px -433px}
.sx_f579e2{background-position:-68px -433px}
.sx_4eab0d{background-position:0 -450px}
.sx_e3378d{background-position:-17px -450px}
.sx_0576b2{background-position:-34px -450px}
.sx_bf5026{background-position:-51px -450px}
.sx_6b0082{background-position:-68px -450px}
.sx_4527bf{width:14px;background-position:-68px -1045px}
.sx_2f5488{background-position:0 -467px}
.sx_688920{background-position:-17px -467px}
.sx_64db93{background-position:-34px -467px}
.sx_724a46{background-position:-51px -467px}
.sx_6f1700{background-position:-51px -518px}
.sx_5cb3a4{background-position:0 -484px}
.sx_8af279{background-position:-17px -484px}
.sx_b880b2{background-position:-34px -484px}
.sx_e17c80{background-position:-51px -484px}
.sx_df15f6{background-position:-68px -484px}
.sx_6f923f{background-position:0 -501px}
.sx_fb6690{background-position:-17px -501px}
.sx_b34a49{background-position:-34px -501px}
.sx_843545{background-position:-51px -501px}
.sx_5c49d4{width:13px;height:12px;background-position:-13px -231px}
.selected .sx_5c49d4{background-position:0 -231px}
.sx_7d2365{width:13px;height:12px;background-position:-37px -213px}
.selected .sx_7d2365{background-position:-24px -213px}
.sx_b8c1b9{width:9px;height:14px;background-position:-89px -165px}
.selected .sx_b8c1b9{background-position:-80px -165px}
.sx_e62334{background-position:-68px -501px}
.sx_4657f7{width:15px;height:14px;background-position:-84px -1045px}
.sx_1884fe{background-position:0 -518px}
.sx_d55520{width:12px;height:12px;background-position:-27px -231px}
.sx_95917f{background-position:-17px -518px}
.sx_3b598f{height:17px;background-position:-80px -180px}
.sx_ac460f{width:13px;height:14px;background-position:-85px -293px}
.sx_41ec5d{background-position:-34px -518px}
.sx_8d03d3{width:28px;height:32px;background-position:0 -165px}
.sx_7dd9c8{width:23px;height:32px;background-position:0 -198px}
.sx_8d97d0{width:23px;height:32px;background-position:-56px -165px}
.sx_c14f95{width:26px;height:32px;background-position:-29px -165px}
.sx_edbeb5{width:14px;height:14px;background-position:-85px -278px}
.sx_46db68{width:14px;height:14px;background-position:-85px -263px}
.sx_5f720b{width:32px;height:32px;background-position:-66px -132px}
.sx_399708{width:32px;height:32px;background-position:-33px -132px}
.sx_17d9d2{width:32px;height:32px;background-position:0 -132px}
.sx_851008{width:32px;height:32px;background-position:-66px -99px}
.sx_f3de19{width:32px;height:32px;background-position:-33px -99px}
.sx_29cf42{width:32px;height:32px;background-position:0 -99px}
.sx_4fb4ee{width:8px;height:13px;background-position:-85px -476px}
.sx_b665ac{width:8px;height:13px;background-position:-85px -462px}
.sx_71c954{width:9px;height:13px;background-position:-85px -420px}
.sx_33df7e{width:11px;height:13px;background-position:-85px -308px}
.sx_1f2cd9{width:11px;height:13px;background-position:-85px -322px}
.sx_639c9b{width:8px;height:13px;background-position:-85px -434px}
.sx_d80b2d{width:9px;height:13px;background-position:-85px -406px}
.sx_e2b5c9{width:9px;height:13px;background-position:-85px -336px}
.sx_83dceb{width:9px;height:13px;background-position:-85px -392px}
.sx_32af9d{width:9px;height:13px;background-position:-85px -378px}
.sx_13bd88{width:8px;height:13px;background-position:-85px -448px}
.sx_80002d{width:8px;height:10px;background-position:-40px -231px}
.sx_158104{width:9px;height:13px;background-position:-85px -364px}
.sx_c4ad7e{width:9px;height:13px;background-position:-85px -350px}
.sx_42264b{width:13px;height:12px;background-position:-51px -213px}
.sx_587dd5{width:99px;height:98px;background-position:0 0}
.sx_13011b{width:8px;height:12px;background-position:-65px -213px}

#bootloader_OgaVA { height: 42px; }